<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formularioLogin">
    <ion-input placeholder="Nombre" formControlName="inputNombre"></ion-input>
    <label class="erroneo" *ngIf="formularioLogin.controls['inputNombre'].dirty && formularioLogin.controls['inputNombre'].invalid">Error</label>
    <ion-input placeholder="Email" formControlName="inputEmail"></ion-input>
    <ion-button [disabled]="formularioLogin.invalid">Aceptar</ion-button>
  </form>

  <p class="ion-padding">{{formularioLogin.value | json}}</p>
  <p class="ion-padding">Dirty:{{formularioLogin.dirty}}</p>
  <p class="ion-padding">Pristine:{{formularioLogin.pristine}}</p>
  <p class="ion-padding">Invalid:{{formularioLogin.invalid}}</p>
  <p class="ion-padding">Touched:{{formularioLogin.touched}}</p>
</ion-content>
